<!DOCTYPE html>
<head>
  <title>Effugio</title>
</head> 
<div class="container">
	<div class="row">
		<div class="col-lg-12" id="profilearea">

            <div class="card hovercard">
                <div class="cardheader">

                </div>
                <div>
                    <img src="/public/images/{{ pet.photoIds}}" height="286" width="250">

                </div>
                <div class="info">
                    <div class="title">
                       {{pet.name }}
                    </div>
                    <div class="desc" id="age">Age is {{pet.age}}</div>
                    <div class="desc" id="description">Description: Loves to play with the TV remote</div>  
                </div>
               
            </div>

        </div>

	</div>
</div>



<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
    crossorigin="anonymous"></script>
<script type="text/javascript" src="/public/js/checkprofile.js">

</script>
